
<% content_for(:search) do %>
  <%= render :partial => "layouts/search" %>
<% end %>

<% @properties.each do |property| %>
  <h1>Search Property</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">  
      <div class="table-responsive">
       <table  class="table">  
          <thead>
            <tr>
              <th>Location</th>
              <th>No of member</th>
              <th>Price</th>
              <th>Security Deposit</th>
            </tr>
          </thead>
          <tbody> 
            <tr>
              <td> <%= property.address.street %></td>
              <td> <%= property.member %></td>
              <td> <%= property.price %></td>
              <td> <%= property.security_deposit %></td>
              <td><%= link_to 'Show',property_path(property) %>
              </td>
            </tr>
          </tbody> 
        </table>
      </div>
    </div>
  </div>
<% end%> 